@keyframes glow {
  from {
    color: gray;
  }
  to {
    color: gold;
  }
}

.cv-block {
  padding-bottom: $spacer * 2;

  &:not(:first-of-type) {
    padding-top: $spacer * 2;
  }
  p {
    margin: 3px;
  }

  &--ongoing {
    p {
      animation: glow 2s infinite alternate;
    }
  }
}
