.image-gallery {
  display: flex;
  gap: $spacer;
  flex-wrap: wrap;
  padding-bottom: $spacer;

  &__item {
    height: 100%;
    width: 100%;
    @include media-breakpoint-up('sm') {
      height: 170px;
      width: 170px;
    }

    position: relative;

    &__mask {
      height: 100%;
      width: 100%;
      background: rgba($black, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;

      h2 {
        color: $white;
      }
    }
  }
}
