.navigation {
  width: 100%;
  height: 100px;

  &__menu {
    &__item {
      color: $gray;

      &:not(:last-of-type) {
        margin-right: $spacer * 4;
      }

      &--active {
        color: $black;
      }
    }
  }
}
